.drawer{
    height: 100vh ;
    background-color: red;
    width: 30%;
    padding: 20px;
    position: fixed;
    /* top:0 */
}

.logo{
    height: 30px;
    width:40px;
}

.drawerheader{
    display: flex;
    justify-content: space-between;
}