:root {
    --primary-color: #933dc9;
    /* 933dc9 */
    --text-color: #cec9c9;
    --header-color : #1c1618;
    --border-color: rgb(74, 72, 72);
}

.dashboardheader{
   margin-left: 20%;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 5px 40px 5px 40px;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--header-color);
    
}

