:root {
    --primary-color: #933dc9;
    /* 933dc9 */
    --text-color: #cec9c9;
}

.header{
    text-align: center;
    /* margin-bottom: 20px; */
    height: 50vh;
    /* box-shadow: 0 100px 8px -100px var(--primary-color); */
    /* justify-content: center; */

}

.p1{
    font-size: 300%;
    margin-bottom:0 ;
    letter-spacing: 2px;
    /* margin-bottom: 10px; */
    font-family:'Times New Roman', Times, serif
}

.p2{
    font-size: 300%;
    letter-spacing: 2px;
    margin-top: 0;
    margin-bottom: 10px;
    font-family:'Times New Roman', Times, serif;
    color: var(--primary-color);
    
}

.body{
    color: var(--text-color);
}

.button{
    font-size: 13px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 20px;
    border: none;
    color: white;
    background-color: var(--primary-color);
    /* box-shadow: 4px 8px 10px rgb(93, 22, 93); */
}