:root {
    --primary-color: #933dc9;
    /* 933dc9 */
    --second-primary: #c6b3d2;
    --text-color: #cec9c9;
}
.navbar{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    padding:10px 50px 10px 50px;
    align-items: center;
}

.navbar2{
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo{
   background-color: var(--primary-color);
   padding: 2px 3px;
   border-radius: 8px;
   
}

.button{
    background-color: transparent;
    border: none;
    color: white;
}