:root {
    --primary-color: #933dc9;
    /* 933dc9 */
    --second-primary: #c6b3d2;
    --text-color: #cec9c9;
}


body{
    background-color: #090707;
    /* background-color: #131212; */

    color: white;
    margin: 0;
}


.dashboardBackButton{
    padding: 5px;
    border-radius:50% ;
    border: none;
    position: fixed;
    top:40%;
    right: 20px;
    background-color: var(--second-primary);
    color: var(--primary-color);

}